body{
    background: #5C7C89;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    background: #5C7C89;
    width: 100%;
    padding: 15px;
    font-weight: bold;
}

.navbar a{
    font-size: 18px;
    color: yellow;
    margin-left: 25px;
}

h2 {
    color: #123456;
    font-size: 40px;
}

p{
    font-size: 18px;
}

.NYJCimage{
    background: black;
}